<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Washington Trail Recommender</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="static/css/creative.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Rec The Trail</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#new-here">New Here?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/returning-user">Returning User</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">The Backbones</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Rec The Trail</h1>
                <hr>
                <p>Rec The Trail will give you recommendations for awesome Washington Hikes that fit your hiking style, saving you time looking for what to do on your day off!</p>
                <a href="#new-here" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="new-here">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">What it does?</h2>
                    <hr class="light">
                    <p>Rec The Trail parses ratings from Washington Trail Association trip reports and finds you hikes you should do based on prior preferences.  New to hiking? We can provide you hike recommendations based on your own preferences! Or completely at random!  You choose.</p>
                    <a href="/new-user" class="page-scroll btn btn-default btn-xl sr-button">I've hiked in Washington before</a>
                    <a href="#recommendations" class="page-scroll btn btn-default btn-xl sr-button">New to hiking in Washington? </br>Check out our recommendations!</a>
                </div>
            </div>
        </div>
    </section>


    <section class="no-padding" id="recommendations">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">

                <div class="col-lg-4 col-sm-6">
                    <a href="static/img/portfolio/fullsize/29.jpg" class="portfolio-box">
                        <img src="static/img/portfolio/thumbnails/29.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    {{recs[0].name}}
                                </div>
                                <div class="project-category text-faded">
                                    {{recs[0].total_dist}} miles
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a href="static/img/portfolio/fullsize/79.jpg" class="portfolio-box">
                        <img src="static/img/portfolio/thumbnails/79.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    {{recs[1].name}}
                                </div>
                                <div class="project-category text-faded">
                                    {{recs[1].total_dist}} miles
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a href="static/img/portfolio/fullsize/81.jpg" class="portfolio-box">
                        <img src="static/img/portfolio/thumbnails/81.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    {{recs[2].name}}
                                </div>
                                <div class="project-category text-faded">
                                    {{recs[2].total_dist}} miles
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="static/img/portfolio/fullsize/86.jpg" class="portfolio-box">
                        <img src="static/img/portfolio/thumbnails/86.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    {{recs[3].name}}
                                </div>
                                <div class="project-category text-faded">
                                    {{recs[3].total_dist}} miles
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="static/img/portfolio/fullsize/89.jpg" class="portfolio-box">
                        <img src="static/img/portfolio/thumbnails/89.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    {{recs[4].name}}
                                </div>
                                <div class="project-category text-faded">
                                    {{recs[4].total_dist}} miles
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="static/img/portfolio/fullsize/28.jpg" class="portfolio-box">
                        <img src="static/img/portfolio/thumbnails/28.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    {{recs[5].name}}
                                </div>
                                <div class="project-category text-faded">
                                    {{recs[5].total_dist}} miles
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Behind the Project</h2>
                    <p class="section-heading">Interested in learning more about any step?  Click on the image!</p>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                      <a href="https://github.com/Jadetabony/wta_hikes/blob/project/CrispDM.md">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>CRISP-DM</h3>
                        </a>
                        <p class="text-muted">Business Understanding</br>Data Understanding</br>Data Preparation </br>Modeling</br> Evaluation</br>Deployment</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                      <a href="https://github.com/Jadetabony/wta_hikes/tree/project">
                        <i class="fa fa-4x fa-gears text-primary sr-icons"></i>
                        <h3>Python</h3>
                        </a>
                        <p class="text-muted">Requests + BeautifulSoup</br>MongoDB + PyMongo</br>Pandas</br>Scikit-Learn</br>Plotly</br>Flask</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Sentiment Analysis</h3>
                        <p class="text-muted">TextBlob</br>Turi GraphLab</br>Sentiment Analysis</br>Trained on Scraped Data</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Turi GraphLab</h3>
                        <p class="text-muted"> Ranking Factorization Model</br>Item Content Recommender</br>Finding latent patterns in the </br>forest of ratings.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Interested in the data science behind the recommender? </h2>
                <a href="" class="btn btn-default btn-xl sr-button">Checkout my blog series on it</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Want to get in touch?</h2>
                    <hr class="primary">
                    <p>Here are a couple other places to find me!</p>
                      <div class="row">
                          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                              <ul class="list-inline text-center">
                                  <li>
                                      <a href="https://www.linkedin.com/in/jadetabony">
                                          <span class="fa-stack fa-lg">
                                              <i class="fa fa-circle fa-stack-2x"></i>
                                              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                          </span>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="https://www.instagram.com/theclutteredgearroom/">
                                          <span class="fa-stack fa-lg">
                                              <i class="fa fa-circle fa-stack-2x"></i>
                                              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                          </span>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="https://twitter.com/TrailWonderland">
                                          <span class="fa-stack fa-lg">
                                              <i class="fa fa-circle fa-stack-2x"></i>
                                              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                          </span>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="https://github.com/jadetabony">
                                          <span class="fa-stack fa-lg">
                                              <i class="fa fa-circle fa-stack-2x"></i>
                                              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                          </span>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                  </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/creative.min.js"></script>

</body>

</html>
